@import "./reset.css";
@import url('https://fonts.googleapis.com/css2?family=Muli&display=swap');

* {
    font-family: 'Muli', sans-serif;
}

html {
    scroll-behavior: smooth;
    overflow-x: hidden;
    font-size: 16px;
}

main, #pages {
    width: 100%;
    height: 100%;
}

.section {
    width: inherit;
    height: inherit;
    position: relative;
    background-color: #434E4C;
    overflow: hidden;
}

.section > section {
    position: relative;
    height: 100%;
    width: 100%;
    top: 0;
    display: inline-block;
}

.section > section > p {
    float: right;
    margin: 0 32px;
    margin-top: 32px;
    font-size: 150%;
}

.section .section-title {
    position: relative;
    margin-top: 96px;
    margin-left: 16px;
    font-size: 300%;
    font-weight: 400;
}

.tilted-bottom {
    position: absolute;
    background-color: white;
    width: 100%;
    top: 256px;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    box-shadow: 0px 0px 32px rgba(0, 0, 0, 0.25);
    z-index: 0;
}

.tilted-top {
    position: absolute;
    background-color: white;
    width: 100%;
    height: 160px;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    box-shadow: 0px 0px 32px rgba(0, 0, 0, 0.25);
    z-index: 0;
}

#landing {
    background-color: rgb(225, 255, 245);
}

#landing-background {
    position: absolute;
    width: 100%;
    height: 100%;
    box-shadow: inset 0px 0px 250px rgba(0, 0, 0, 0.85);
}

#landing-background > img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    mix-blend-mode: multiply;
}

#empresa .section-title, #solucao .section-title {
    color: white;
}

#empresa-logo {
    position: relative;
    width: 160px;
    float: right;
    margin-right: 48px;
    margin-top: 32px;
}

#problema p {
    margin-top: 64px;
    background-color: white;
    padding: 32px;
    border-radius: 16px;
    box-shadow: 4px 4px 16px rgba(0, 0, 0, 0.3);
}

#solucao #app-logo {
    display: block;
    margin: auto;
    margin-top: 64px;
    width: 256px;
    border-radius: 256px;
    box-shadow: 4px 4px 16px rgba(0, 0, 0, 0.25);
}

#equipe-lista {
    display: flex;
    flex-direction: row;
    justify-content: start;
    overflow-x: auto;
    margin: 8px 16px;
    margin-top: 128px;
    padding-bottom: 8px;
    box-sizing: border-box;
    filter: drop-shadow(8px 8px 16px rgba(0, 0, 0, 0.25));
}

.membro {
    display: flex;
    flex-direction: column;
    padding: 10px;
    background-color: white;
    border-radius: 16px;
    align-items: center;
}

.membro:not(:first-child) {
    margin-left: 32px;
}

.membro-img {
    width: 256px;
    margin-bottom: 8px;
}

.nome-atribuicao h2 {
    max-width: 256px;
    height: 32px;
    font-size: 150%;
    font-weight: 600;
    text-align: center;
    margin-bottom: 32px;
}

.nome-atribuicao h4 {
    color: #565656;
    font-size: 95%;
    text-align: center;
}

#contato .section-title {
    color: white;
    text-align: center;
}

#contato form {
    display: flex;
    flex-direction: column;
    background-color: #FF9956;
    padding: 16px 24px;
    margin: 48px;
    margin-top: 24px;
    border-radius: 16px;
    font-size: 90%;
}

#contato input {
    margin-bottom: 24px;
    margin-top: 12px;
    font-size: 80%;
    border: 0;
    padding: 8px 16px;
    border-radius: 8px;
}

#contato #enviar {
    margin-bottom: 0;
    width: min-content;
    cursor: pointer;
    background-color: #05EAC3;
    font-weight: 600;
}

#contato textarea {
    margin-top: 12px;
    font-size: 80%;
    border: 0;
    padding: 8px 16px;
    border-radius: 8px;
    resize: none;
}

#fixed {
    position: fixed;
    width: inherit;
    height: inherit;
    bottom: 0;
    pointer-events: none;
}

#navbar-top {
    pointer-events: all;
    margin-top: 0;
    padding-bottom: 8px;
    border-bottom: 1px solid rgb(221, 221, 221);
    overflow: hidden;
    box-sizing: border-box;
    background: linear-gradient(rgba(0, 0, 0, 0.671), rgba(0, 0, 0, 0));
}
 
#navbar-toggle {
    display: none;
}

#navbar-toggle-button {
    display: none;
}

#navbar-menu {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 8px;
    overflow: hidden;
}

#navbar-top nav {
    margin-left: 32px;
}

#navbar-top ul {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

#navbar-top li:not(:first-child) {
    margin-left: 32px;
}

#navbar-top li > a {
    display: block;
    width: 100%;
    text-decoration: none;
    font-size: 100%;
    color: rgb(221, 221, 221);
}

footer {
    font-size: 100%;
    position: absolute;
    bottom: 0;
    padding: 8px;
    left: 0;
    right: 0;
    background-color: white;
    color: #6A6A6A;
}

@media all and (max-width: 960px) {
    html {
        font-size: 14px;
    }
}

@media all and (max-width: 690px) {
    html {
        font-size: 12px;
    }

    .section .section-title {
        margin-top: 64px;
    }

    .tilted-top {
        height: 112px;
    }

    #solucao #app-logo {
        width: 200px;
    }

    .membro-img {
        width: 240px;
    }

    #navbar-top {
        border: 0;
    }

    #navbar-toggle-button {
        position: relative;
        display: flex;
        width: 32px;
        height: 30px;
        flex-direction: column;
        justify-content: space-between;
        z-index: 2;
        margin: 16px;
    }

    #navbar-toggle-button > span {
        width: 100%;
        height: 4px;
        background-color: white;
        border-radius: 4px;
        transition: transform 0.5s ease-in-out, width 0.5s ease-in-out;
    }

    #navbar-menu {
        position: absolute;
        flex-direction: column;
        top: 0;
        bottom: 0;
        background-color: black;
        width: 112px;
        padding: 0;
        padding-top: 72px;
        transition: width 0.5s ease-in-out;
    }

    #navbar-toggle:not(:checked) ~ #navbar-menu {
        width: 0;
    }

    #navbar-toggle:checked ~ #navbar-toggle-button > span:nth-child(1) {
        transform: translateY(150%) rotate(-45deg);
        width: 50%;
    }

    #navbar-toggle:checked ~ #navbar-toggle-button > span:nth-child(3) {
        transform: translateY(-150%) rotate(45deg);
        width: 50%;
    }

    #navbar-menu nav {
        margin: 0;
        margin-top: 32px;
    }

    #navbar-menu ul {
        flex-direction: column;
    }

    #navbar-top li:not(:first-child) {
        margin-left: 0;
        margin-top: 32px;
    }
}

@media all and (max-width: 500px) {
    html {
        font-size: 10px;
    }

    .membro-img {
        width: 200px;
    }

    #solucao #app-logo {
        width: 1800px;
    }
}

@media all and (max-width: 360px) {
    html {
        font-size: 8px;
    }

    .membro-img {
        width: 180px;
    }

    #solucao #app-logo {
        width: 160px;
    }
}